<header>
  <h1>Your Movie Database</h1>
</header>

<div id='movies-list'></div>
<div class='clearfix'></div><br />
<footer class='navbar navbar-fixed-bottom'>
  <div class='col-md-offset-3 col-md-6'>
  	<button id='next' class='btn btn-block btn-danger'>Next</button>
  </div>
</footer>
<div class='clearfix'></div>