@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #000;
}

header {
  @extend .page-header;
  @extend .text-center;
}

h1 a, h1 a:hover {
  color: #e50914;
  text-decoration: none;
}

.glyphicon-plus {
  color: green;
}

.glyphicon-minus {
  color: red;
}